.gridStyle {
	height: 400px;
	width: 1000px;
	border:1px solid black;
}

.utilization_100 {
	background-color:red;
}

.utilization_75 {
	background-color : yellow;
}

.rxmDetailsGrid {
	height : 660px;
	width : 1600px; 
	border:1px solid black;
}